<div class="modal fade new-conversation" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" ng-click="Modal.cancel()" class="close"><span
                        aria-hidden="true">×</span><span
                        class="sr-only">Close</span></button>
                <h4 id="myModalLabel" class="modal-title">Thêm người vào cuộc trò chuyện</h4>
            </div>
            <div class="modal-body body">
                <div class="container-fluid">
                    <div class="form-group row">
                        <div class="col-sm-8 users">
                            <div class="search">
                                <input type="text" name="receiver" placeholder="Tìm kiếm mọi người" ng-model="filter">
                            </div>
                            <div class="user-list">
                                <ul>
                                    <li ng-repeat="user in Modal.users | filter: {username: filter}" ng-if="user.id !== Modal.currentUser.id" ng-click="Modal.addReceiver(user)">
                                        <img ng-src="{{user.avatar}}" alt="avatar">
                                        <b>{{user.username}}</b>
                                        <i class="glyphicon glyphicon-ok-sign" ng-show="Modal.isChecked(user)"></i>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-sm-4 receivers">
                            <b class="count">Gửi đến: {{Modal.numberOfReceiver}}</b>
                            <ul>
                                <li ng-repeat="receiver in Modal.receivers">
                                   <img ng-src="{{receiver.avatar}}" alt="avatar">
                                   <b>{{receiver.username}}</b>
                                   <span ng-click="Modal.deleteReceiver(receiver)">x</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button ng-click="Modal.cancel()" type="button" class="btn btn-default">Cancel</button>
                <button ng-click="Modal.onSubmit()" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>