<div class="col-sm-3 " id="conversation-list" style="height: 100%">
    <div class="head">
        <my-acount></my-acount>
    </div>
    <div class="body" style="overflow-y: auto" id="list">
        <conversation-list></conversation-list>
    </div>
</div>
<div class="col-sm-9" id="conversation-details" style="height: 100%">
    <div class="head">
        <chat-control></chat-control>
    </div>
    <div class="body" style=" padding-top: 0" id="details" >
        <div class="col-sm-8" id="chat-form" style="height: 100%; padding: 0">
            <chat-form></chat-form>
        </div>
        <div class="col-sm-4" id="details" style="overflow-y: auto; height: 100%">
            <conversation-details></conversation-details>
        </div>
    </div>
</div>