<div class="home">
    <div class="left-sm-3" id="conversation-list">
        <div class="head">
            <my-acount></my-acount>
        </div>
        <div class="body" style="overflow-y: auto" id="list">
            <conversation-list></conversation-list>
        </div>
    </div>
    <div class="right-sm-9" id="conversation-details">
        <div class="head">
            <chat-control></chat-control>
        </div>
        <div class="body" style=" padding-top: 0" id="details">
            <div class="right-sm-4" id="details">
                <conversation-details></conversation-details>
            </div>
            <div class="left-sm-8" id="chat-form">
                <chat-form></chat-form>
            </div>
        </div>
    </div>
</div>