<div class="container-fluid" id="list-message" style="overflow-y: auto">
    <div class="" ng-repeat="mess in chat.listMess track by $index" ng-class="chat.float(mess.sender_id)">
        <div ng-if="chat.showSenderUsername(mess.sender_id, $index)" 
            style="color: rgba(0, 0, 0, .40); padding-left: 40px; font-size: 13px; padding-bottom: 5px">
            {{mess.User.username}}
        </div>
        <img class="img-circle" 
            style="width: 28px; height: 28px" 
            ng-src="{{mess.User.avatar}}" 
            ng-if="chat.createAvatar(mess.sender_id)"
            ng-show="chat.showAvatar(mess.sender_id, $index)">
        <div ng-if="chat.notShowAvatar(mess.sender_id, $index)" class="empty" ></div>
        
        <span class="mess">{{mess.message}}</span>
        <span class="time">{{mess.createdAt}}</span>
    </div>
</div>
<div id="chat" >
    <textarea rows="1" placeholder="Nhập tin nhắn..."  autofocus></textarea>
    <span>
        <i class="glyphicon glyphicon-picture" ngf-select ng-model="files" accept='image/*' ngf-multiple="true" ngf-model-invalid="errorFile"></i> 
        
    </span>
</div>
