<div  id="list-message" class="container-fluid dragarea" style="overflow-y: auto" ngf-drop ng-model="chat.dropFiles" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true">
    <!-- <img src="image/1513657247136_database.jpg" alt="test"> -->
    <div class="x" ng-repeat="mess in chat.listMess track by $index" ng-class="chat.float(mess.sender_id)">
        <div ng-if="chat.showSenderUsername(mess.sender_id, $index)" 
            class="first"
            >
            {{mess.User.username}}
        </div>
        <img class="img-circle" 
            style="width: 28px; height: 28px" 
            ng-src="{{mess.User.avatar}}" 
            ng-if="chat.createAvatar(mess.sender_id)"
            ng-show="chat.showAvatar(mess.sender_id, $index)">
        <div ng-if="chat.notShowAvatar(mess.sender_id, $index)" class="empty" ></div>
        
        <span class="mess" ng-if="chat.text(mess.message_type)">{{mess.message}}</span>
        <span ng-if="chat.image(mess.message_type)">
            <a href="{{mess.message}}" download>
                <img src="{{mess.message}}" width="60%" height="50%">
            </a>
        </span>
        <span class="mess" ng-if="chat.file(mess.message_type)">
            <a href="{{mess.message}}" download>{{mess.message}}</a>
        </span>
        <!-- <span class="time">{{mess.createdAt}}</span> -->
       
    </div>
    
</div>
<div id="chat" >
    <textarea rows="1" placeholder="Nhập tin nhắn..."  autofocus style="width:50%"></textarea>
    <i class="glyphicon glyphicon-picture" ngf-select ng-model="chat.images" accept='image/*' ngf-multiple="true" ngf-model-invalid="errorFile" ng-change="chat.sendImage(chat.images)"></i>
    <i class="glyphicon glyphicon-file" ngf-select ng-model="chat.files" ngf-multiple="true" ngf-model-invalid="errorFile" ng-change="chat.sendFile(chat.files)"></i> 
</div>
