<div class="modal fade edit" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        ng-click="Modal.cancel()"
                        aria-hidden="true">&times;
                </button>
                <h4 class="modal-title"><span class="info-frp-16x16"></span>&nbsp;Edit User Infomation
                </h4>
            </div>
            <form name="editForm" class="modal-body container-fluid">
                <div class="form-group row">
                    <div class="col-sm-3 control-label">
                        <img ng-src="{{Modal.curUser.avatar}}"alt="avatar" ng-show="!Modal.avatar">   
                        <img ngf-src="Modal.avatar" alt="avatar" ng-show="Modal.avatar">                       
                    </div>
                    <div class="col-sm-9 input">
                        <div>{{Modal.curUser.username}}</div>
                        <a ngf-select ng-model="Modal.avatar" accept="image/*">Change your profile picture</a>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="username" class="col-sm-3 control-label">Username</label>
                    <div class="col-sm-9 input">
                        <input type="text" class="my-input" name="username"
                                   ng-model="Modal.newUser.username"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="name" class="col-sm-3 control-label">Full Name</label>
                    <div class="col-sm-9 input">
                        <input type="text" class="my-input" name="name" id="name"
                                   ng-model="Modal.newUser.fullname"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="password" class="col-sm-3 control-label">New Password</label>
                    <div class="col-sm-9 input">
                            <input type="password" class="my-input" name="new_password" id="new_password"
                                   placeholder="Enter your new Password" ng-model="Modal.newPassword"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="confirm" class="col-sm-3 control-label">Confirm new password</label>
                    <div class="col-sm-9 input">
                        <input type="password" class="my-input" name="new_confirm" id="new_confirm"
                                   placeholder="Confirm your new Password" ng-model="Modal.newConfirm"/>
                    </div>
                </div>

            </form>
            <div class="modal-footer">
                <button ng-click="Modal.cancel()" type="button" class="btn btn-default">Cancel</button>
                <button ng-click="Modal.onSubmit()" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>