.edit-user {
    padding:30px;
}
.edit-user input {
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.edit-user .modal-body {
    padding: 30px;
}
.edit-user .control-label{
    text-align: right;
}
.edit-user img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}